body {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Eakin%27s_art_studens_bathing_3.jpg/1280px-Eakin%27s_art_studens_bathing_3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  font-family: "ValentineHand", sans-serif;
  font-size: 1.5em;
  src: url('//2ttf.com/webfont/LHfdnEVX5Uy/webfont.ttf') format('truetype');
}
header {
  color: white;
  font-family: Mirza, fantasy;
  margin: 5% 0;
}
header.text-center h1 {
  font-size: 2.3em;
}
.thumbnail {
  padding: auto 5%;
  background-color: rgba(255, 255, 255, 0.8) !important;
}
span.canusa:last-child {
  display: none;
}
strong {
  font-family: Mirza, fantasy;
  font-size: 1.2em;
  font-weight: bolder;
}
#unitShift {
  font-size: .7em;
}

.row {
  margin-bottom: 10%;
}
